@use "../sass/mixins/media.scss" as m;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}


.container {
  max-width: 280px;
  margin: 0 auto;
  width: 100%;

  @include m.tablet {
    max-width: 708px;
  }

  @include m.desktop {
    max-width: 1220px;
  }

}

ul {
  list-style-type: none;
}

dl {
  margin: 0;
}

:root {
  --basic-white: #ffffff;
  --green: #68b738;
  --grey: #f2f2f2;
  --special-grey: #444444;
}

/* green line */

.line-mode {
  display: flex;
  gap: 20px;
  align-items: center;

  @include m.tablet {
    gap: 40px;
  }
}

.line-mode::before {
  content: "";
  height: 7px;
  width: calc(50% - 160px);
  border-bottom: 2px solid #68b738;

  @include m.tablet {
    width: calc(24% - 160px);
  }
}

.line-mode::after {
  content: "";
  height: 7px;
  width: 10px;
  border-bottom: 2px solid #68b738;
  flex-grow: 1;
}

