@use "../sass/mixins/media.scss"as m;

.additionally__main-title {
  margin: 0;
  color: #000000;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @include m.tablet {
    color: #000;
    font-size: 36px;
    line-height: 36px;
  }
}

.additionally__item-title {
  margin: 0;
  color: #222222;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @include m.desktop {
    text-align: start;
    padding-top: 20px;
    font-size: 20px;
    line-height: 20px;
  }
}

.additionally__compound {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  @include m.desktop {
    font-size: 16px;
    line-height: 20px;
  }
}

.additionally__description {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  @include m.desktop {
    font-size: 16px;
    line-height: 20px;
  }
}

.additionally__price {
  display: flex;
  margin: 13px 0;
  justify-content: space-between;
  padding: 0;
}

.additionally__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 0;
  margin: 0;

  @include m.tablet {
    gap: 0;
  }

  @include m.desktop {
    max-width: 896px;
    gap: 13px
  }
}

.additionally__item {
  position: relative;
  margin-bottom: 13px;
  padding-bottom: 19px;

  @include m.tablet {
    border: 2px solid #cdcdcd;
    padding: 26px 40px;
    margin: 0;
    margin-top: -2px;
  }

  @include m.desktop {
    border: none;
    display: grid;
    grid-template-columns: 325px 1fr 245px;
    gap: 40px;
    padding: 0;
    padding-bottom: 17px;
    margin-bottom: 13px;
  }
}

.additionally__item::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  bottom: 0;
  margin-top: 20px;

  @include m.tablet {
    display: none;
  }

  @include m.desktop {
    display: block;
  }
}

.site__button-catalog-bottom {

  @include m.tablet {
    width: 100%;
  }

  @include m.desktop {
    width: 100%;
  }
}

.additionally-wrapper {

  @include m.desktop {
    display: flex;
    margin-top: 82px;
  }
}
