@use "../sass/mixins/media.scss"as m;

.catalog__title {
  color: #000000;
  font-family: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 27px 0 41px 0;

  @include m.tablet {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0 20px;


  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    column-gap: 60px;
    row-gap: 94px;
  }

  @include m.desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 60px;
  }
}

.catalog-main__list {
  margin-left: auto;
}

.catalog__item {
  margin-bottom: 25px;
  position: relative;

  @include m.tablet {
    background-image: linear-gradient(#ffffff 80px, #eaeaea 80px, #eaeaea);
    padding: 210px 36px 39px 36px;
  }

}

.catalog__item-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 19px 0;

  @include m.tablet {
    display: block;
  }
}

.catalog__item-wrapper-last {
  padding-top: 150px;
}

.catalog-main__title {
  color: #222222;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 14px;

  @include m.tablet {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}

.catalog__item-image {

  @include m.tablet {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
  }
}

.catalog__item-image-s {

  @include m.tablet {
    top: 30px;
  }

  @include m.desktop {
    top: 30px;
  }
}

.catalog-main__compound,
.catalog-main__description {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.catalog-main__item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.catalog-main__item::after {
  position: absolute;
  content: "";

  @include m.tablet {
    width: 248px;
    border-bottom: 1px solid #d9d9d9;
  }

  @include m.desktop {
    width: 169px;
    border-bottom: 1px solid #d9d9d9;
  }
}

.site__button-catalog {
  width: 280px;

  @include m.tablet {
    width: 100%;
  }

  @include m.tablet {
    width: 169px;
  }
}



.catalog__item-title {
  margin: 0;
  color: #111111;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.catalog__item-title-mini-description {
  color: #444444;
  text-align: center;
  font-family: "Lato";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 21px;
}
