@use "../sass/mixins/media.scss"as m;

.exampl {
  background-color: #eaeaea;
  margin-top: 47px;

  @include m.tablet {
    background-image: linear-gradient(#ffffff 440px, #eaeaea 440px, #eaeaea);
  }

  @include m.desktop {
    background-image: linear-gradient(#ffffff 100px, #eaeaea 100px, #eaeaea);
  }
}


.exampl__wrapper {
  padding: 25px 0 40px 0;

  @include m.desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}

.slider {

  @include m.desktop {
    grid-column: 2/3;
    grid-row: 1/4;
    align-self: center;
  }
}


.exampl__tablet {

  @include m.tablet {
    display: flex;
    justify-content: space-between;
  }

  @include m.desktop {
    flex-direction: column;
    align-items: flex-start;
    grid-column: 1/2;
  }
}

.exampl__title {
  margin: 0 0 41px 0;
  color: #000000;
  font-family: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;

  @include m.tablet {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @include m.desktop {
    grid-column: 1/2;
  }

}

.exampl__description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;

  @include m.desktop {
    grid-column: 1/2;
    width: 436px;
  }
}

.exampl__description-table {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -10px;
  background-color: #eaeaea;
  padding: 0 5px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  @include m.tablet {
    background-color: #ffffff;
    width: 125px;
    bottom: -4px;
  }

  @include m.desktop {
    background-color: #eaeaea;
  }
}

.exampl__list {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 28px 0;
  gap: 32px;

  @include m.tablet {
    gap: 42px;
    margin: 55px 0 99px 0;
  }
}

.exampl__item {
  position: relative;
  box-shadow: inset 0 0 0 1px #cdcdcd;
  border-radius: 3px;
  padding: 15px 15px 5px;
  min-width: 124px;

  @include m.tablet {
    min-width: 169px;
  }
}


.exampl__number {
  color: #000000;
  text-align: center;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 18px;
}



.exampl__stats {
  color: #000;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
