@use "../sass/mixins/media.scss"as m;

.page__footer {
  background-color: #f2f2f2;
}

.page__footer-wrapper {
  padding: 40px 0;

  @include m.tablet {
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo-image {
  margin: 0 auto;
  display: block;
}

.social {
  margin: 41px 0 35px 0;
  display: flex;
  justify-content: center;
}

.social__link:not(:last-child) {
  padding-right: 24px;
}

.social__image {

  fill: #666666;

  &:hover {
    fill: #68b738;
  }


  &:active {
    fill: rgba(104, 183, 56, 0.3);
  }

}

.contacts-html {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.html {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-border {
  position: relative;
}

.footer-border::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  top: 42px;
  left: 0;
}
