@use "../sass/mixins/media.scss"as m;

.form-container {

  @include m.tablet {
    padding-left: 40px;
  }

  @include m.desktop {
    padding-left: 0;
  }
}

.application {

  @include m.tablet {
    margin-bottom: 43px;
  }

  @include m.tablet {
    margin-bottom: 67px;
  }

}


.application__title {
  color: #000000;
  font-family: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 27px 0 37px 0;

  @include m.tablet {
    font-size: 60px;
    line-height: 60px;
    margin: 38px 0 54px 0;
  }

  @include m.desktop {
    margin: 16px 0 54px 0;
  }
}

.application__description {
  margin: 0 0 15px 0;
  color: #000000;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @include m.tablet {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 41px;
  }

  @include m.desktop {
    margin-bottom: 43px;
  }
}

.form__about {
  position: relative;
  margin: 0;
  border: none;
  padding: 24px 0;

  @include m.tablet {
    padding: 22px 0;
  }
}

.form__about-comment {
  padding: 0;
  margin-bottom: 53px;
}

.form__about-list {
  margin: 0;
  padding: 0;
}

.form__about-list-fat {

  @include m.tablet {
    border: 2px solid #cdcdcd;
    width: 100%;
    padding: 28px 27px 23px 27px;
    margin-bottom: 30px;
  }
}

.form__about-list-fat::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  top: 0;
  left: 0;

  @include m.tablet {
    border-bottom: none;
  }
}

.form__about-list-fat::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  top: 100%;
  left: 0;

  @include m.tablet {
    border-bottom: none;
  }
}

.form__about-fat {
  margin-top: 30px;

  @include m.desktop {
    margin-top: 0;
  }
}

.form__about-list-add {

  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    row-gap: 25px;
  }

  @include m.desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 86px;
  }
}

.programs-form__list {
  margin: 0;
  padding: 0;
}

.about-owner__list {
  margin: 0;
  padding: 0;
}

.form__about-item-name {
  margin-right: 14px;
  flex-shrink: 0;
  color: #444444;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 14px;

  @include m.tablet {
    font-size: 20px;
    margin-top: 18px;
  }
}

.form__about-item {
  display: flex;
  position: relative;
}

.form__about-item:not(:last-child) {
  margin-bottom: 13px;

  @include m.tablet {
    margin-bottom: 18px;
  }
}

.form__about-item-fat:not(:last-child) {
  margin-bottom: 18px;
}



.form__about-item-mail::after {
  content: "";
  position: absolute;
  mask-image: url("../img/sprite.svg#mail");
  width: 17px;
  height: 13px;
  display: block;
  right: 12px;
  top: 13px;
  background-color: #000000;

  @include m.tablet {
    right: 16px;
    top: 16px;
  }
}

.form__about-item-mail,
.form__about-item-phone {

  @include m.desktop {
  min-width: 569px;
  }
}

.form__about-item-phone {

  @include m.desktop {
    margin-bottom: 18px;
  }
}

.form__about-list-contacts {

  @include m.desktop {
  display: flex;
  justify-content: space-between;
  }
}

.form__about-item-phone::after {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.svg#phone");
  width: 20px;
  height: 20px;
  display: block;
  right: 12px;
  top: 13px;

  @include m.tablet {
    right: 16px;
    top: 16px;
  }
}

.input-all {
  border: 1px solid #e7e7e7;
  padding: 13px 14px;
  color: #444444;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;

  @include m.tablet {
    font-size: 20px;
    padding: 11px 14px 11px 19px;
  }


  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
  }

  &:disabled {
    border: 1px solid #ff8282;
  }
}


.control-label {
  color: #444444;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 10px;

  @include m.tablet {
    font-size: 20px;
    margin-left: 22px;
  }
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;

  @include m.tablet {
    margin-bottom: 10px;
  }

  &::disabled {
    opacity: 0.3;
  }
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #ececec;

  @include m.tablet {
    width: 40px;
    height: 40px;
    top: -9px;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }
}

.control-mark-radio {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark-radio::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;
  content: "";

  @include m.tablet {
    width: 18px;
    height: 18px;
  }
}

.control-input[type="checkbox"]:checked+.control-mark {
  background-image: url("../img/icon/checkbox-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border: none;

  @include m.tablet {
    width: 40px;
    height: 40px;
    background-image: url("../img/icon/checkbox.svg");
  }
}

.control-add {
  margin-bottom: 5px;
}

.programs-form__item:not(:last-child) {
  margin-bottom: 13px;
}

.form__about-wrapper {
  margin-bottom: 36px;
}

.form__about-title {
  color: #000000;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  @include m.tablet {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__about-title-owner {
  width: 186px;

  @include m.tablet {
    width: 518px;

    @include m.tablet {
      margin-top: 24px;
      margin-bottom: 38px;
    }
  }
}

.form__about-title-comment {

  @include m.tablet {
    margin-top: 43px;
    margin-bottom: 49px;
  }

  @include m.desktop {
    margin-top: 31px;
  }
}


.about-add__list {
  margin: 0;
  padding: 0;
}

.about-add__item:not(:last-child) {
  margin-bottom: 13px;
}

.about-input-comment {
  width: 280px;
  padding-bottom: 118px;

  @include m.tablet {
    width: 100%;
  }
}

.form__legend {
  color: #000000;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 21px;
  display: block;
  margin-bottom: 32px;

  @include m.tablet {
    margin-top: 31px;
    margin-left: 60px;
    font-size: 16px;
  }

  @include m.desktop {
    margin-top: 37px;
    margin-left: 80px;
  }
}

.about-mail__item:not(:last-child) {
  margin-bottom: 14px;
}

.form__about-top {

  @include m.desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.form__about-bottom {

  @include m.tablet {
    display: flex;
    justify-content: flex-start;
  }
}

.site__button-form {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;

  @include m.tablet {
    width: 282px;
    margin: 0;
    height: 56px;
    margin-top: 10px;
    font-size: 20px;
  }

  @include m.desktop {
    width: 570px;
    margin-top: 19px;
  }
}

