@use "../sass/mixins/media.scss"as m;

.main-header {
  background-color: transparent;
  position: relative;
  padding: 13px 20px 11px 20px;

  @include m.tablet {
    display: flex;
    width: 708px;
    margin: 0 auto;
    padding: 17px 0;
  }

  @include m.desktop {
    display: flex;
    width: 1220px;
    padding: 52px 0;
  }
}


.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo-wrapper {
  display: inline-block;
}

.main-header__logo-image {
  margin-right: 10px;

  &:hover {
    opacity: 0.8;
  }


  &:active {
    opacity: 0.6;
  }

  @include m.tablet {
    display: none;
  }

  @include m.desktop {
    display: none;
  }


}



.main-nav__list {
  margin: 0;
  padding: 0;

  @include m.tablet {
    margin-left: auto;
    display: flex;
  }
}

.main-nav__item-link {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  @include m.tablet {
    font-size: 18px;
  }

  @include m.desktop {
    font-size: 20px;
    color: #ffffff;

    &:hover {
      opacity: 0.7;
    }
  }

  &::hover {
    opacity: 0.7;
  }
}

.main-nav__item-link-catalog {

  @include m.desktop {
    color: #000000;
  }
}

.main-nav__item {
  position: relative;
  padding: 24px 0;
  text-align: center;

  @include m.tablet {
    padding: 22px 0;
  }

  }


.main-nav__item:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  top: 0;
  left: 0;

  @include m.tablet {
    border: none;
  }

  @include m.desktop {
    border: none;
  }
}

.main-nav__item-link--current {
  position: relative;
}

.main-nav__item-link--current::after {

  @include m.tablet {
    position: absolute;
    content: "";
    top: 128%;
    left: 0;
    width: 100%;
    display: block;
    height: 2px;
    background-color: #68B738;
  }
}

.main-nav__item-link-main.main-nav__item-link--current::after {

  @include m.desktop {
    background-color: #ffffff;
  }
}


.main-nav__item:not(:last-child) {

  @include m.tablet {
    padding-right: 33px;
  }
}

.main-header__logo-image-desktop {
  display: block;

  &:hover {
    opacity: 0.8;
  }


  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-image-tablet {
  display: block;

  &:hover {
    opacity: 0.8;
  }


  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-image-mobile {
  display: block;

  &:hover {
    opacity: 0.8;
  }


  &:active {
    opacity: 0.6;
  }
}

.main-header__button {
  background-image: url(../img/icon/icon-header-button.svg);
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;

  @include m.tablet {
    display: none;
  }

  @include m.desktop {
    display: none;
  }
}

.toggle_closed {
  background-image: url(../img/icon/icon-header-close.svg);
  width: 18px;
  height: 18px;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__nav {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 3;
  display: none;
  left: 0;
  top: 65px;


  @include m.tablet {
    position: static;
    display: block;
    width: auto;
    margin-left: auto;
    background-color: transparent;
    margin-right: 5px;
  }

  @include m.desktop {
    position: static;
    display: block;
    width: auto;
    margin-left: auto;
    background-color: transparent;
  }
}

.menu-nav_opened {
  display: block;
}

.no-js {
  .menu-nav_opened {
    display: block;
  }
}

.no-js {
  .main-header__button {
    display: none;
  }
}
