@use "../sass/mixins/media.scss"as m;

.main-header {
  background-color: #ffffff;
}

.main-header-main {
  margin-bottom: 65px;
}

.main-header__logo-image {

  &:hover {
    opacity: 0.8;
  }


  &:active {
    opacity: 0.6;
  }


}



.main-nav__list {
  margin: 0;
  padding: 0;

  @include m.tablet {
    width: 450px;
    margin-left: auto;
    display: flex;
  }
}

.main-nav__item-link {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  @include m.tablet {
    font-size: 18px;
  }
}

.main-nav__item {
  padding: 24px 0;
  text-align: center;
}

.main-nav__item:not(:last-child) {
  @include m.tablet {
    padding-right: 33px;
  }
}
