@use "../sass/mixins/media.scss"as m;

.programs {
  position: relative;

  @include m.desktop {
    position: static;
  }
}

.programs__header {
  position: relative;
  padding: 27px 22px 22px 22px;

  @include m.tablet {
    background-image: none;
    padding-top: 37px;
    margin-left: 97px;
    min-height: 848px;
  }

  @include m.desktop {
    position: static;
    padding: 52px 20px 0 80px;
    min-height: 605px;
  }
}

.programs__title {
  color: #ffffff;
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
  margin: 0 0 25px 0;

  @include m.tablet {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 40px;
  }
}

.programs__slogan {
  margin: 0 0 302px 0;
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @include m.tablet {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 50px;
  }
}

.programs__image {
  position: absolute;
  top: 33%;
  right: 5%;

  @include m.tablet {
    z-index: -1;
    top: 27%;
    right: 4%;
  }

  @include m.desktop {
    top: 143px;
    right: 23%;
  }
}

.site__button {
  color: var(--basic-white);
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--green);
  padding: 10px 44px;
  margin: 0 auto;
  display: block;
  border: none;

  &--grey {
    background-color: var(--grey);
    color: var(--special-grey);
  }

  &--grey:hover {
    background-color: #ebebeb;
  }

  &--grey:active {
    background-color: #ebebeb;
    opacity: 0.3;
  }

  &:hover {
    background-color: #5EAA2F;
  }

  &:active {
    background-color: #5EAA2F;
    color: rgba(255, 255, 255, 0.3);
  }

  &--grey:hover {
    background-color: #ebebeb;
  }

  &--grey:active {
    background-color: #ebebeb;
    opacity: 0.3;
  }
}

.site__button-programs {
  @include m.tablet {
    display: inline-block;
    padding: 18px 29px;
    top: 28%;
    left: 40%;

    font-size: 20px;
    line-height: 20px;
  }
}

.programs__list {
  padding: 0;
  margin-top: 20px;


  @include m.desktop {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  position: relative;
  padding: 22px 20px;
  background-color: #f2f2f2;
  margin-bottom: 20px;

  @include m.tablet {
    padding: 77px 28px 57px 52px;
    margin-bottom: 30px;
  }

  @include m.desktop {
    padding: 41px 61px 59px 52px;
    margin-bottom: 71px;
  }
}

.programs__item:last-child {

  @include m.tablet {
    margin-bottom: 45px;
  }

  @include m.desktop {
    margin-bottom: 71px;
  }
}

.programs__item-title {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  color: #000000;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @include m.tablet {
    text-align: left;
    position: static;
    gap: 27px;
    font-size: 36px;
    line-height: 36px;
  }

  @include m.desktop {
    position: relative;
    text-align: center;
    flex-direction: row;
    gap: 62px;
  }
}

.programs__item-title::before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  flex-shrink: 0;

  @include m.tablet {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    left: 63%;
  }


  @include m.desktop {
    position: static;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    transform: none;
  }

}

.programs__item-title::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.programs__item-title--slim::after {
  background-image: url("../img/cats/cat-slim-mobile.svg");
  width: 36px;
  height: 50px;
  z-index: 2;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);


  @include m.tablet {
    background-image: url("../img/cats/cat-slim-tablet.svg");
    width: 140px;
    height: 194px;
    left: 67%;
    top: 48%;
    transform: translateY(-50%);
  }

  @include m.desktop {
    background-image: url("../img/cats/cat-slim-desk.svg");
    width: 70px;
    height: 97px;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
  }

}

.programs__item-title--pro::after {
  background-image: url("../img/cats/cat-pro-mobile.svg");
  width: 67px;
  height: 28px;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);

  @include m.tablet {
    background-image: url("../img/cats/cat-pro-tablet.svg");
    width: 268px;
    height: 112px;
    left: 58%;
    top: 51%;
    transform: translateY(-50%);
  }

  @include m.desktop {
    background-image: url("../img/cats/cat-pro-desk.svg");
    width: 134px;
    height: 56px;
    left: -17px;
    top: 50%;
    transform: translateY(-50%);
  }
}



.programs__item-description {
  position: relative;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 24px 0 0 0;
  width: 228px;

  @include m.tablet {
    margin-top: 24px;
    margin-bottom: 52px;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  @include m.desktop {
    margin-top: 42px;
    margin-bottom: 29px;
    width: 457px;
  }
}

.programs__item-description::after {
  position: absolute;
  content: "";
  display: block;
  width: 240px;
  border-bottom: 1px solid #d9d9d9;
  top: 123%;

  @include m.tablet {
    display: none;
  }

  @include m.desktop {
    display: none;
  }
}

.programs__item-button {
  display: flex;
  color: #000000;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 42px;
  align-items: center;

  @include m.tablet {
    font-size: 20px;
    line-height: normal;
  }

  @include m.desktop {
    margin: 0;
  }

  &:active {
    color: #d9d9d9;
  }

  &:hover::before {
    width: 25px;
  }

  &:active::before {
    border-bottom: #d9d9d9;
  }

  &:active::after {
    border-left-color: #d9d9d9;
  }
}


.programs__item-button::after {
  content: "";
  display: inline-block;
  border-width: 7px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-color: transparent;
  border-left-color: #000000;
  border-style: solid;
  order: 2;

}

.programs__item-button::before {
  content: "";
  display: inline-block;
  border-bottom: 2px solid #000000;
  width: 18px;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 15px;
  order: 1;
  transition: width 0.3s;

  @include m.tablet {
    margin-left: 25px;
  }

}

.programs__header::before {
  content: "";
  display: block;
  width: 100%;
  height: 302px;
  position: absolute;
  background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../img/background/background-mobile-black.png");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
  z-index: -1;

  @include m.tablet {
    display: none;
  }

  @include m.desktop {
    content: "";
    display: block;
    background-image: none;
    background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../img/background/background-desktop.png");
    background-size: cover;
    background-position: right;
    width: 50%;
    height: 694px;
    left: auto;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
